<section class="about">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <h2>About Me</h2>
        <p>
          As a Software Developer, I possess an impressive arsenal of skills in JavaScript, Angular,
          Tailwind, Bootstrap, .Net core, PHP, Wordpress. I excel in designing and maintaining responsive websites that offer a smooth user
          experience.</p>
        <p>My expertise lies in crafting dynamic, engaging interfaces through writing clean and optimized code and
          utilizing cutting-edge development tools and techniques. I am also a team player who thrives in collaborating
          with cross-functional teams to produce outstanding applications.
        </p>
      </div>
      <div class="about-image">
        <img src="./assets/aboutimgicon.png" alt="Profile Image" />
      </div>
    </div>
  </div>
</section>