<!-- <section class="project-details">
    <h1>Your Project Name</h1>
    <p class="project-date">Date: January 1, 2022</p>
    <p class="project-description">
        Briefly describe your project here. Mention its purpose, technologies used, and any notable features.
    </p> -->

<!-- Images or screenshots of your project -->
<!-- <div class="project-images">
        <img src="./assets/videograph_project_1.png" alt="Screenshot 1">
        <img src="./assets/videograph_project_2.png" alt="Screenshot 2">
        <img src="./assets/videograph_project_3.png" alt="Screenshot 2">
        <img src="./assets/videograph_project_4.png" alt="Screenshot 2"> -->
<!-- Add more images as needed -->
<!-- </div> -->

<!-- Additional project details -->
<!-- <div class="additional-details">
        <h2>Key Features</h2>
        <ul>
            <li>Feature 1</li>
            <li>Feature 2</li> -->
<!-- Add more features as needed -->
<!-- </ul> -->

<!-- <h2>Technologies Used</h2> -->
<!-- <p>HTML, CSS, JavaScript, Node.js, etc.</p> -->
<!-- List the technologies used in your project -->

<!-- Add any other relevant details about your project -->
<!-- </div> -->
<!-- </section> -->

<!-- Footer section (if applicable) -->
<!-- <footer>
    <p>&copy; 2022 Your Name. All rights reserved.</p>
</footer> -->

<!-- Projects -->
<div id="projects" class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Projects</h2>
                <p class="p-heading">Listed below are some of the most representative projects I've worked on. They
                    range from basic web design for presentation sites to advanced web development for online shops</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/project-1.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p> <strong>Project:</strong> web design for their corporate
                        websites and landing pages for marketing campaigns </p>
                </div> <!-- end of text-container -->
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/project-2.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p> <strong>Project:</strong> designed and developed modern platform
                        for purchasing second hand cars online</p>
                </div> <!-- end of text-container -->
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/project-3.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p><strong>Project:</strong> created a custom video editing and
                        upload web app for this awesome team </p>
                </div> <!-- end of text-container -->
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/project-4.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p><strong>Project:</strong> complete redesign of their corporate
                        website and platform update for their online shop</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of projects -->


<!-- Works -->
<div class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/work-1.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p><strong>Project:</strong> started a new website from ground up
                        for a new product </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/work-2.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p> <strong>Project:</strong> developed a new forum for the
                        Visodream community </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/work-3.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p><strong>Project:</strong> complete redesign of their corporate
                        website and platform </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/work-4.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p> <strong>Project:</strong> created a custom video editing and
                        upload web app</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/work-5.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p><strong>Project:</strong> web design for their corporate websites
                        and landing pages </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <div class="text-container">
                    <div class="image-container">

                        <img class="img-fluid" src="../../../assets/images/work-6.jpg" alt="alternative">

                    </div> <!-- end of image-container -->
                    <p><strong>Project:</strong> started a new website from ground up for
                        a new product </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of works -->