<nav class="sticky-top">
    <div class="left">
      <!-- <img src="../assets/hamza logo.png" alt="" width="300px" height="280px" style="padding-left: 20px;"> -->
    </div>
    <div class="right">
      <ul style="margin-top: 1rem;">
        <li><a routerLink="home" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="services" routerLinkActive="active-link">Services</a></li>
        <li><a routerLink="projects" routerLinkActive="active-link">Projects</a></li>
        <li><a routerLink="about" routerLinkActive="active-link">About</a></li>
        <li><a routerLink="contact" routerLinkActive="active-link">Contact</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>