<section class="services">
  <div class="container">
    <h2>Services</h2>
    <div class="service-cards-container">
    <div class="service-cards">
      <div class="service-card design">
        <div class="service-icon">
          <i class="fas fa-desktop"></i>
        </div>
        <h3>Responsive Web Design</h3>
        <p>
          Create stunning and user-friendly websites that work seamlessly across
          all devices and screen sizes.
        </p>
      </div>
      <div class="service-card ui-ux">
        <div class="service-icon">
          <i class="fa fa-paint-brush"></i>
        </div>
        <h3>Website Development with the Help of Website Templates</h3>
        <p>
          Accelerate website development with pre-designed templates, ensuring
          professional results in less time.
        </p>
      </div>
      <div class="service-card frontend">
        <div class="service-icon">
          <i class="fas fa-code"></i>
        </div>
        <h3>Frontend Development</h3>
        <p>
          Translate designs into functional and interactive websites using the
          latest frontend technologies.
        </p>
      </div>
      <div class="service-card mobile">
        <div class="service-icon">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <h3>Mobile-First Development</h3>
        <p>
          Build mobile-first web applications to ensure an exceptional user
          experience on smartphones and tablets.
        </p>
      </div>
      <div class="service-card ecommerce">
        <div class="service-icon">
          <i class="fas fa-search"></i>
        </div>
        <h3>E-commerce development</h3>
        <p>
          Empower your business with seamless online selling through expertly
          crafted e-commerce solutions.
        </p>
      </div>
      <div class="service-card cms">
        <div class="service-icon">
          <i class="fas fa-laptop"></i>
        </div>
        <h3>CMS website development</h3>
        <p>Build dynamic and easily manageable websites using robust Content Management System (CMS) solutions like Wordpress.</p>
      </div>
    </div>
</div>
  </div>
</section>
