<section class="firstsection">
  <div class="leftsection">
    <div class="tagline">
      <h2>Software <br />Developer</h2>
      <img src="./assets/tagline_img.png" />
    </div>
    <div style="margin-top: 8px">
      Hi, I'm Hamza Zafar. A passionate Software Developer
    </div>
    <div>based in Islamabad, Pakistan.</div>
    <br />
    <div class="techstack">
      <p>Tech Stack</p>
      <ul>
        <li>
          <img
            src="./assets/Angular-Dark.svg"
            width="45px"
            height="45px"
            title="Angular"
            alt="angular"
          />
        </li>
        <li>
          <img
            src="./assets/html.svg"
            width="45px"
            height="45px"
            title="HTML"
            alt="html"
          />
        </li>
        <li>
          <img
            src="./assets/css.svg"
            width="45px"
            height="45px"
            title="CSS"
            alt="css"
          />
        </li>
        <li>
          <img
            src="./assets/js.svg"
            width="45px"
            height="45px"
            title="JavaScript"
            alt="js"
          />
        </li>
        <li>
          <img
            src="./assets/tailwind.svg"
            width="45px"
            height="45px"
            title="Tailwind CSS"
            alt="tailwind"
          />
        </li>
        <li>
          <img
            src="./assets/scss.svg"
            width="45px"
            height="45px"
            title="SCSS"
            alt="scss"
          />
        </li>
      </ul>
    </div>
  </div>
  <div class="rightsection"><img src="./assets/main_img.png" /></div>
</section>
